<script>
    document.write('<script src="https://utteranc.es/client.js" ' +
    'repo="vashirov/vashirov.github.io" ' +
    'issue-term="pathname" ' +
    'label="comment" ');
    if (document.body.className.includes("dark")) {
        document.write('theme="github-dark"');
    } else {
        document.write('theme="github-light"');
    }
    document.write(' crossorigin="anonymous" async><\/script>');
</script>

{{- if (not .Site.Params.disableThemeToggle) }}
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            const utterances = document.querySelector('iframe').contentWindow;
            utterances.postMessage({type: 'set-theme', theme: 'github-light'}, 'https://utteranc.es');
        } else {
            const utterances = document.querySelector('iframe').contentWindow;
            utterances.postMessage({type: 'set-theme', theme: 'github-dark'}, 'https://utteranc.es');
        }
    })
</script>
{{- end }}
